{%- if product.available -%}

  {%- for tag in product.tags -%}
    {% assign tag_case = tag | downcase %}

    {%- if tag contains 'offer:' -%}
      {% assign split_tag = tag | split: ':' %}
      {% assign tag_case = 'offer' %}
    {%- endif -%}

    {%- case tag_case -%}
      {%- when 'online exclusive' -%}
        <div class="product-label product-label--exclusive">Online exclusive</div>

      {%- when 'new' -%}
        <div class="product-label product-label--new">New</div>

      {%- when 'waitlist' -%}
        <div class="product-label product-label--waitlist">Waitlist</div>

      {%- when 'offer' -%}
        <div class="product-label product-label--offer">{{ split_tag[1] }}</div>

    {%- endcase -%}
  {%- endfor -%}

{%- else -%}
  <div class="product-label product-label--sold-out">{{ 'products.product.sold_out' | t }}</div>
{%- endif -%}
